PRODUCTION = False
DEBUG = True

# Admins
ADMINS = (
    ('YOU', 'you@yourdomain.com'),
)
MANAGERS = ADMINS

# Generate one for yourself
# http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = 'YOUR_SECRET_KEY'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'c4db',
        'USER': 'postgres',
        'PASSWORD': 'password'
    }
}
