{% extends "admin/base.html" %}

{% block content %}
	{% if logs %}
	<h2>Imported File</h2>
	<table>
		{% for r in logs %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
      <td>{{ r }} </td>
    </tr>
		{% endfor %}
	</table>
	{% endif %}

	<h2>Import File</h2>
	<form method='POST' action='.' name='upload' enctype="multipart/form-data">
		{% csrf_token %}
		<input type='file' name='file' />
		<input type='submit' value='Upload'/>
	</form>

	<h2>Import Logs</h2>
	<table>
		<thead>
			<th>
				Imported By
			</th>
			<th>
				Start Timestamp
			</th>
			<th>
				Import Duration
			</th>
			<th>
				Filename
			</th>
			<th>
				rows
			</th>
			<th>
				
			</th>
		</thead>
		{% for log in import_logs %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td>
				{{ log.imported_by }}
			</td>
			<td>
				{{ log.start_ts}}
			</td>
			<td>
				{{ log.duration }}
			</td>
			<td>
				{{ log.file_name}}
			</td>
			<td>
				{{ log.rawlandrecord_set.count }}
			</td>
			<td>
				<button type='submit' value='{{ log.id }}'>Delete</button>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
