label {
  font-weight: bolder;
}

.row-even { background-color: #EEE; }

.stats-header {
  background: rgba(132, 183, 207, .8);
  color: black;
}

.form-input {
  margin-right: 3%;
}

.radio-btn {
  margin-left: 2%;
}

#home-p {
  width: 70%;
  margin-left: 15%;
}

#stats {
  margin-top: 5%;
}

#stats-table {
  margin-left: 20%;
  width: 50%;
}

#search-table {
  margin-left: 5%;
}

#search-table tr {
  padding-top: 3%;
}

#search-table input {
  padding-right: 50%;
}

#search-submit {
  margin-top: 1%;
  margin-left: 6%;
  width: 15%;
  background-color: RGBA(74, 129, 155, 1)
}

#log-div {
  margin-top: 3%;
}

#log-header {
  display: inline;
  margin-bottom: 3%;
}

#log-link {
  margin-right: 0px;
}
