.row-even { background-color: #EEE; }

.stats-header {
  background: rgba(132, 183, 207, .8);
  color: black;
}

#home-p {
  width: 70%;
  margin-left: 15%;
}

#stats {
  margin-top: 5%;
}

#stats-table {
  margin-left: 20%;
  width: 50%;
}

#log-div {
  margin-top: 3%;
}

#log-header {
  display: inline;
  margin-bottom: 3%;
}

#log-link {
  margin-right: 0px;
}
